* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#f4bc03, #f48c03 45%, #fff 45%, #fff 100%);
  }
  
  .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  
  .img-bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
  }
  
  .img-bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contents {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
  }
  
  .contents .details {
    display: flex;
    flex-direction: column;
    text-align: center;
   
  }
  
  .contents .details h2 {
    color: rgb(0, 0, 0);
    font-size: 1.6em;
    font-weight: bolder;

  }
  
  .contents .details h2 span {
    font-size: 0.7em;
    color: #fa8500;
    font-weight: bold;
  }
  body {
    --color-bright: #f4bc03;
    
  }
  
  #intro {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
  }
  
  html, body, #contact-info {
    width:100%;
    height:100%;
  }
  
  #contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #contact-info .links {
    display: flex;
    min-width: 300px;
    margin-bottom: 0px;
    padding-top: 19px;
    justify-content:space-between;
  }
  
  #contact-info a {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
  }
  
  
  
  /* ****************** */
  /* PREVENTING FLICKERING ON HOVER BECAUSE OF ROTATING AND SKEW TRANSFORMATIONS*/
  #contact-info .links a {
    display: block;
    position: relative;
  }
  #contact-info .links a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    transition: all .3s;
  }
  #contact-info .links a:hover::after {
    /* transform: rotate(35deg) skew(-20deg); */
    --transformed-box-diagonal-length: 164%;
    width: var(--transformed-box-diagonal-length);
    left: calc( (100% - var(--transformed-box-diagonal-length)) / 2 );
  }
  /* ****************** */
  
  
  #contact-info .links a div {
    position: relative;
    display: block;
    width: 55px; 
    height: 55px;
    transition: transform .3s;
  }
  
  
  #contact-info .links a:hover div {
    transform: rotate(-35deg) skew(20deg);
  }
  
  .links a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    /* transition-property: opacity, transform;
    transition-duration: 0.5s; */
    border: 1px solid var(--color-bright);
    /* border-color: var(--color-bright); */
    border-radius: 5px;
  }
  
  .links a span:nth-child(5) {
    display: flex; 
    justify-content: center;
    align-items: center;
  
    position: relative;
    /* border-color: var(--color-bright); */
  }
  
  .links a:hover span:nth-child(5) {
    transform: translate(20px, -20px);
    opacity: 1;
  
  }
  .links a:hover span:nth-child(4) {
    transform: translate(15px, -15px);
    opacity: .8;
  }
  .links a:hover span:nth-child(3) {
    transform: translate(10px, -10px);
    opacity: .6;
  }
  .links a:hover span:nth-child(2) {
    transform: translate(5px, -5px);
    opacity: .4;
  }
  .links a:hover span:nth-child(1) {
    opacity: .2;
  }
  
  /* orange background spans */
  .links a.orange-background span {
    background: var(--color-orange);
    border-color: var(--color-bright);
  }
  .links a.orange-background span:nth-child(5) {
    background: var(--body-background-color);
  }
  
  
  /* orange shadow */
  .links a.orange-shadow:hover span {
    box-shadow: -1px 1px 3px var(--color-orange);
  }
  
  /* orange border  */
  .links a.orange-border span {
    border-color: var(--color-orange);
  }
  .links a.orange-border span:nth-child(5) {
    border-color: var(--color-bright);
  }
  